@{
    ViewBag.Title = "Assignment Confirmation";
}

<hgroup class="title">
    <h1>User assigned to ticket</h1>
</hgroup>
<div>
    <br />
    <p>
        The user will receive an email of his or her assignment.
    </p>
    <br />
    <p>
        @Html.ActionLink("Back to Tickets", "Index")
    </p>
</div>
